*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Fredoka", sans-serif;
}
.top{
     width: 11/12;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
     /* padding: 60px 130px 60px 130px ; */
}

.top-btn{
    margin-top: 30px;
    padding: 5px 50px 5px 50px  ;
    background-color: #81d307;
     color: white;
     border: none;
     border-radius: 10px;
     box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);

 
}
.category-btn {
    padding: 7px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    cursor: pointer;
    color: white;
    background-color: #40a0d8;
    transition: transform .2s; 

}

.category-btn :hover{
   transform: scale(4px);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-btn:hover {
    background-color: #555;
}

.category-btn.active {
    background-color: #777;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-content {
    display: none;
}

.category-content.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.course-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    min-width: 200px;
}

.course-detail {
    flex: 2;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.course-detail img {
   
    height: auto;
}

.bn46 {
    width: 150px;
    height: 50px;
  }
  .bn45 {
    width: 170px;
    height: 50px;
  }


  .footer{
    background:#000;
   width: 100%;
   margin-left: ;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }